<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>Folgende Fehler sind aufgetreten:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :getsMeals %><br />
    <%= f.check_box :getsMeals %>
  </div>
  <div class="field">
    <%= f.label :breakfast %><br />
    <%= f.check_box :breakfast %>
  </div>
  <div class="field">
    <%= f.label :supper %><br />
    <%= f.check_box :supper %>
  </div>
  <div class="field">
    <%= f.label :guest %><br />
    <%= f.check_box :guest %>
  </div>
  <div class="field">
    <%= f.label :number_of_children_level_1 %><br />
    <%= f.text_field :number_of_children_level_1 %>
  </div>
  <div class="field">
    <%= f.label :number_of_children_level_2 %><br />
    <%= f.text_field :number_of_children_level_2 %>
  </div>
  <div class="field">
    <%= f.label :number_of_children_level_3 %><br />
    <%= f.text_field :number_of_children_level_3 %>
  </div>  
  <div class="field">
    <%= f.label :default_number_of_meals_adults %><br />
    <%= f.text_field :default_number_of_meals_adults %>
  </div>
  <div>
   <%= f.label :valid_to %><br />
   <%= f.date_select(:valid_to, :order => [:day,:month,:year]) %>
  </div>
  <div class="actions">
    <%= f.submit t('employee.submit')%>
  </div>
<% end %>
