<p id="notice"><%= notice %></p>

<p>
  <b>Identifikationsnumer:</b>
  <%= @employee.id %>
</p>

<p>
  <b>Vorname:</b>
  <%= @employee.firstname %>
</p>

<p>
  <b>Nachname:</b>
  <%= @employee.lastname %>
</p>

<p>
  <b>Nimmt am Essen Teil:</b>
  <% if @employee.getsMeals %>
    ja
  <% else %>nein
  <% end%>  
</p>
<p>
  <b>Ist Gast:</b>
  <% if @employee.guest %>
    ja
  <% else %>nein
  <% end%>
</p>
<p>
  <b>Anzahl Kinder 1-6:</b>
  <%= @employee.number_of_children_level_1 %>
</p>
<p>
  <b>Anzahl Kinder 7-13:</b>
  <%= @employee.number_of_children_level_2 %>
</p>
<p>
  <b>Anzahl Kinder 14-17:</b>
  <%= @employee.number_of_children_level_3 %>
</p>
<p>
  <b>Anzahl Essen Erwachsene</b>
  <%= @employee.default_number_of_meals_adults %>
</p>
<p>
  <b>Angaben gültig bis:</b>
  <%= @employee.valid_to.strftime("%d.%m.%Y") %>
</p>


<%= link_to 'Bearbeiten', edit_employee_path(@employee) %> |
<%= link_to 'Zurück', employees_path %>
