<p id="notice"><%= notice %></p>

<p>
  <b><%=t 'helpers.label.employee.id' %></b>
  <%= @employee.id %>
</p>

<p>
  <b><%=t 'helpers.label.employee.firstname' %></b>
  <%= @employee.firstname %>
</p>

<p>
  <b><%=t 'helpers.label.employee.lastname' %></b>
  <%= @employee.lastname %>
</p>
<p>
  <b><%=t 'helpers.label.employee.getsMeals' %></b>
  <%= @employee.boolean_as_translated_string(@employee.getsMeals) %>
</p>
<p>
  <b><%=t 'helpers.label.employee.breakfast' %></b>
  <%= @employee.boolean_as_translated_string(@employee.breakfast) %>
</p>
<p>
  <b><%=t 'helpers.label.employee.supper' %></b>
  <%= @employee.boolean_as_translated_string(@employee.supper) %>
</p>
<p>
  <b><%=t 'helpers.label.employee.guest'%></b>
  <%= @employee.boolean_as_translated_string(@employee.guest) %>
</p>
<p>
  <b><%=t 'helpers.label.employee.number_of_children_level_1' %></b>
  <%= @employee.number_of_children_level_1 %>
</p>
<p>
  <b><%=t 'helpers.label.employee.number_of_children_level_2' %></b>
  <%= @employee.number_of_children_level_2 %>
</p>
<p>
  <b><%=t 'helpers.label.employee.number_of_children_level_3' %></b>
  <%= @employee.number_of_children_level_3 %>
</p>
<p>
  <b><%=t 'helpers.label.employee.default_number_of_meals_adults' %></b>
  <%= @employee.default_number_of_meals_adults %>
</p>
<p>
  <b><%=t 'helpers.label.employee.valid_to'%></b>
  <%= @employee.valid_to.strftime("%d.%m.%Y") %>
</p>


<%= link_to t('misc.edit'), edit_employee_path(@employee) %> |
<%= link_to t('misc.back'), employees_path %>
