<p id="notice"><%= notice %></p>

<p>
  <b><%=t 'helpers.label.meal_plan.valid_from' %></b>
  <%= @meal_plan.valid_from.strftime("%d.%m.%Y") %>
</p>

<p>
  <b><%=t 'helpers.label.meal_plan.valid_to' %></b>
  <%= @meal_plan.valid_to.strftime("%d.%m.%Y") %>
</p>

<table>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.firstname %></td>
      <td><%= employee.lastname%></td>
      <% for meal_plan_entry in @meal_plan.meal_plan_entries_in_date_range_for(employee) %>
         <td>
           <%= link_to(edit_meal_plan_entry_path(meal_plan_entry)) do %> 
             <%= meal_plan_entry.number_of_breakfasts%> | <%= meal_plan_entry.number_of_lunches%> | <%= meal_plan_entry.number_of_suppers%>
           <% end %>
         </td>
      <% end %>
    </tr>
  <% end %>
</table>

